.card-img {
    opacity: 0;
    transition: all 0.5s;
}

.cus-card {
    box-shadow: $box-shadow-sm;
    transition: all 0.5s;
}

.cus-card:hover {

    box-shadow: $box-shadow;
    scale: 1.03;

    .card-img {
        opacity: 1;
    }

    .btn {
        color: $warning;
    }

}