.title-style-kalam {
    font-family: 'Kalam', cursive;
    color: $success;
    font-size: 68px;
    font-weight: bold;
    text-shadow: 0 2px $white, 2px 0 $white, -2px 0 $white, 0 -2px $white;
}

.cus-font-title {
    font-family: 'Kalam', cursive;
    color: $warning;
}

.cus-p-style {
    font-family: 'Kalam', cursive;
}